<div class="container w-25">
  <div class="row">
    <div class="col-md registration">
      <h2>Orders</h2>
      <br>
      <div class="form-group mt-sm-2">
        <label>Gas Station ID</label>
        <input type="text" class="form-control" placeholder="Gas Station ID" [(ngModel)]="id">
      </div>
      <button type="button" class="btn btn-primary mt-sm-2" (click)="getOrderById()">SUBMIT</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md">
      <h1>All Order Records</h1>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Gas Station Id</th>
            <th scope="col">Fuel Type</th>
            <th scope="col">Quantity</th>
            <th scope="col">Order Reserved</th>
            <th scope="col">Reserved Time</th>
            <th scope="col">Order Scheduled</th>
            <th scope="col">Order Dispatched</th>
            <th scope="col">Order Delivered</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="datas">
            <td>{{this.datas.id}}</td>
            <td>{{this.datas.stationId}}</td>
            <td>{{this.datas.fuelType}}</td>
            <td>{{this.datas.quantity}}</td>
            <td>{{this.datas.reserved}}</td>
            <td>{{this.datas.reservedTime}}</td>
            <td>{{this.datas.scheduled}}</td>
            <td>{{this.datas.dispatched}}</td>
            <td>{{this.datas.delivered}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>